---
layout: default
---

  <div id="container">
    <header>
        <div id="title">SELF</div>
    </header>
    <div id="main" role="main">
        <div id="masonry">
            
            {% for post in site.posts %}
            {% case post.layout %}
                    {% when 'col1' %}
                    <div class="box col" onClick="location.href='{{ post.url }}';">
                        <div class='stretch'>
                            {{ post.title }}
                        </div>
                    </div>
                    {% when 'col2' %}
                    <div class="box col2">
                        <div class="stretch">
                            {{ post.title }}
                        </div>
                    </div>
                    {% when 'col3' %}
                    <div class="box col3">
                        <div class="stretch">
                            {{ post.title }}
                        </div>
                    </div>
                    {% else %}
                    <div class="box {% cycle 'col1', 'col2', 'col3' %}" onClick="location.href='{{ post.url }}';">
                        <div class='stretch'>
                            {{ post.title }}
                            <div class="summary">
                                {% if post.subtitle == null %}
                                {{ post.content | summarize }}
                                {% else %}
                                {{ post.subtitle }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
            {% endcase %}
            {% endfor %}

       </div>
    </div>
    <footer>
    
    <div id="yolk">
        <a href="http://yolk.cc">YOLK</a>
    </div>  

    </footer>
  </div> <!--! end of #container -->




